{# heredando header y footer #}
{% extends "./plantillas.html" %}
{% block contenido %}

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionPedido/" method="post" >
        {% csrf_token %}
        <b>Cliente</b>
          <select class="form-control" name="idCl_je" id="idCl_je" required>
            <option value="">Seleccione el cliente</option>
            {% for cliente in clientes %}
            <option value="{{cliente.idCl_je}}">
              {{cliente.nombre_je}}
            </option>
            {% endfor %}
          </select>
        <script type="text/javascript">
            document.getElementById("idCl_je").value="{{pedido.cliente.idCl_je}}";
          </script>
        <br>
        <input type="hidden" name="idPe_je"  value="{{pedido.idPe_je}}">
        <b>fecha</b>
          <input type="date" name="fecha_je" value="{{pedido.fecha_je|date:'Y-m-d'}}" id="fecha_je" placeholder="Ingrese fecha" class="form-control" required>
        <br>
      <center>
        <button type="submit" name="button" class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
















<!--  -->
