{# heredando header y footer #}
{% extends "./plantillas.html" %}
{% block contenido %}

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionDetalle/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <b>pedido</b>
          <select class="form-control" name="idPe_je" id="idPe_je" required>
            <option value="">Seleccione pedido</option>
            {% for pedido in pedidos %}
            <option value="{{pedido.idPe_je}}">
              {{pedido.idPe_je}}
            </option>
            {% endfor %}
          </select>
          <br>
          <b>platillo</b>
          <select class="form-control" name="idPl_je" id="idPl_je" required>
            <option value="">Seleccione platillo</option>
            {% for platillo in platillos %}
            <option value="{{platillo.idPl_je}}">
              {{platillo.idPl_je}}
            </option>
            {% endfor %}
          </select>
        <script type="text/javascript">
            document.getElementById("idPe_je").value="{{detalle.pedido.idPe_je}}";
            document.getElementById("idPl_je").value="{{detalle.platillo.idPl_je}}";
        </script>
        <br>
        <input type="hidden" name="idD_je"  value="{{detalle.idD_je}}">
        <br>
          <b>cantidad</b>
          <input type="text" name="cantidad_je" value="{{detalle.cantidad_je}}" id="cantidad_je" placeholder="Ingrese el nombre del platillo" class="form-control" required>
          <br>
          <b>descripcion</b>
          <input type="text" name="descripcion_je" value="{{detalle.descripcion_je}}" id="descripcion_je" placeholder="ingrese descripcion" class="form-control" required>
          <br>
          <b>precio</b>
          <input type="text" name="total_je" value="{{detalle.total_je}}" id="total_je" placeholder="Ingrese total" class="form-control" required>
          <br>
          
      <center>
        <button type="submit" name="button" class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
















<!--  -->
