{# heredando header y footer #}
{% extends "./plantillas.html" %}
{% block contenido %}

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionProvincia/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <br>
      <input type="hidden" name="idP_je"  value="{{provincia.idP_je}}">
      <input type="text" name="nombre_je" id="nombre_je" value="{{provincia.nombre_je}}" placeholder="Ingrese Provincia"  class="form-control" required>
      <br>
      <input type="text" name="capital_je" id="capital_je" value="{{provincia.capital_je}}" placeholder="Ingrese Capital" class="form-control" required>
      <br>
      <input type="file" name="imagen_je" id="imagen_je" accept="image/*" value="{{provincia.imagen_je}}"  class="form-control" required>
      <br>
      <center>
        <button type="submit" name="button" class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
















<!--  -->
