{# heredando header y footer #}
{% extends "./plantillas.html" %}
{% block contenido %}

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionCliente/" method="post" >
        {% csrf_token %}
        <b>PROVINCIA</b>
        <select class="form-control" name="idP_je" id="idP_je" required>
          <option value="">Seleccione la provincia del cliente</option>
          {% for provincia in provincias %}
          <option value="{{provincia.idP_je}}">
            {{provincia.nombre_je}}
          </option>
          {% endfor %}
        </select>
        <script type="text/javascript">
            document.getElementById("idP_je").value="{{cliente.provincia.idP_je}}";
          </script>
        <br>
        <input type="hidden" name="idCl_je"  value="{{cliente.idCl_je}}">
        <b>CEDULA</b>
        <input type="text" name="cedula_je" value="{{cliente.cedula_je}}" id="cedula_je" placeholder="Ingrese cedula del cliente" class="form-control" required>
        <br>
        <b>APELLIDO</b>
        <input type="text" name="apellido_je" value="{{cliente.apellido_je}}" id="apellido_je" placeholder="ingrese el apellido del cliente" class="form-control" required>
        <br>
        <b>NOMBRE</b>
        <input type="text" name="nombre_je" value="{{cliente.nombre_je}}" id="nombre_je" placeholder="Ingrese el nombre del cliente" class="form-control" required>
        <br>
        <b>CORREO</b>
        <input type="email" name="correo_je" value="{{cliente.correo_je}}" id="correo_je" placeholder="ingrese correo electronico del cliente" class="form-control" required>
        <br>
        <b>TELEFONO</b>
        <input type="text" name="telefono_je" value="{{cliente.telefono_je}}" id="telefono_je" placeholder="Ingrese numero de telefono del cliente" class="form-control" required>
        <br>
      <center>
        <button type="submit" name="button" class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
















<!--  -->
