{# heredando header y footer #}
{% extends "./plantillas.html" %}
{% block contenido %}

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionIngrediente/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <br>
      <input type="hidden" name="idI_je"  value="{{ingrediente.idI_je}}">
      <b>nombre</b>
          <input type="text" name="nombre_je" value="{{ingrediente.nombre_je}}" id="nombre_je" placeholder="Ingrese el nombre de la provincia" class="form-control" required>
          <br>
          <b>descripcion</b>
          <input type="text" name="descripcion_je" value="{{ingrediente.descripcion_je}}" id="descripcion_je" placeholder="ingrese la Capital" class="form-control" required>
          <br>
          <b>cantidad</b>
          <input type="text" name="cantidad_je" value="{{ingrediente.cantidad_je}}" id="cantidad_je" placeholder="Ingrese cantidad" class="form-control" required>
          <br>
          <b>fecha  caducidad</b>
          <input type="date" name="fecha_caducidad_je" value="{{ingrediente.fecha_caducidad_je|date:'Y-m-d'}}" id="fecha_caducidad_je" placeholder="ingrese la fecha" class="form-control" required>
          <br>
          <b>FOTOGRAFIA:</b>
          <input type="file" name="imagen_je" id="imagen_je" accept="image/*" value="" class="form-control" required>
          <br>
      <center>
        <button type="submit" name="button" class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
















<!--  -->
