{# heredando header y footer #}
{% extends "./plantillas.html" %}
{% block contenido %}

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionReceta/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <b>PLATILLO</b>
          <select class="form-control" name="idPl_je" id="idPl_je" required>
            <option value="">Seleccione platillo</option>
            {% for platillo in platillos %}
            <option value="{{platillo.idPl_je}}">
              {{platillo.nombre_je}}
            </option>
            {% endfor %}
          </select>
          <br>
          <b>INGREDIENTE</b>
          <select class="form-control" name="idI_je" id="idI_je" required>
            <option value="">Seleccione ingrediente</option>
            {% for ingrediente in ingredientes %}
            <option value="{{ingrediente.idI_je}}">
              {{ingrediente.nombre_je}}
            </option>
            {% endfor %}
          </select>
          <script type="text/javascript">
            document.getElementById("idPl_je").value="{{receta.platillo.idPl_je}}";
            document.getElementById("idI_je").value="{{receta.ingrediente.idI_je}}";

          </script>
          <br>
        <input type="hidden" name="idR_je"  value="{{receta.idR_je}}">

          <b>PREPARACION</b>
          <input type="text" name="preparacion_je" value="{{receta.preparacion_je}}" id="preparacion_je" placeholder="Ingrese preparacion" class="form-control" required>
          <br>
          <b>DIFICULTAD</b>
          <input type="text" name="dificultad_je" value="{{receta.dificultad_je}}" id="dificultad_je" placeholder="ingrese dificultad" class="form-control" required>
          <br>
          <b>PORCIONES:</b>
          <input type="number" name="porciones_je" id="porciones_je"  value="{{receta.porciones_je}}" placeholder="ingrese porcione" class="form-control" required>
          <br>
      <center>
        <button type="submit" name="button" class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
















<!--  -->
