{# heredando header y footer #}
{% extends "./plantillas.html" %}
{% block contenido %}

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionPlatillo/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <b>TIPO</b>
          <select class="form-control" name="idT_je" id="idT_je" required>
            <option value="">Seleccione tipo</option>
            {% for tipo in tipos %}
            <option value="{{tipo.idT_je}}">
              {{tipo.tipo_je}}
            </option>
            {% endfor %}
          </select>
        <script type="text/javascript">
            document.getElementById("idT_je").value="{{platillo.tipo.idT_je}}";
          </script>
        <br>
        <input type="hidden" name="idPl_je"  value="{{platillo.idPl_je}}">
        <b>NOMBRE</b>
          <input type="text" name="nombre_je" value="{{platillo.nombre_je}}" id="nombre_je" placeholder="Ingrese nombre platillo" class="form-control" required>
          <br>
        <b>descripcion</b>
          <input type="text" name="descripcion_je" value="{{platillo.descripcion_je}}" id="descripcion_je" placeholder="ingrese descripcion" class="form-control" required>
          <br>
          <b>precio</b>
          <input type="text" name="precio_je" value="{{platillo.precio_je}}" id="precio_je" placeholder="Ingrese precio" class="form-control" required>
          <br>
          <b>FOTOGRAFIA:</b>
          <input type="file" name="imagen_je" id="imagen_je" accept="image/*" value="{{platillo.imagen_je}}" class="form-control" required>
          <br>  
      <center>
        <button type="submit" name="button" class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
















<!--  -->
