{% extends "./plantillas.html" %}
{% block contenido %}
{% load static %}


        <div class="container">
            <div class="page-header">
            <br>
              <h1 class="all-tittles text-center">BIENVENIDO</h1>
            </div>
        </div>
        <section class="full-reset text-center" style="padding: 40px 0;">
            <article class="tile">
                <div class="full-reset">
                    <a class="tile-icon " href="{% url 'listadoProvincia' %}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class=" all-tittles">PROVINCIAS</div>
 
            </article>
            <article class="tile">
                <div class="tile-icon full-reset">
                    <a class="tile-icon " href="{% url 'listadoCliente' %}">
                        <i class="fa fa-user-circle"></i>
                    </a>
                </div>
                <div class=" all-tittles">CLIENTE</div>
                
            </article>
            <article class="tile">
                <div class="tile-icon full-reset">
                    <a class="tile-icon " href="{% url 'listadoPedido' %}">
                        <i class="fa fa-pencil-square"></i>
                    </a>
                </div>
                <div class="all-tittles">PEDIDO</div>
                
            </article>
            <article class="tile">
                <div class="tile-icon full-reset">
                    <a class="tile-icon " href="{% url 'listadoDetalle' %}">
                        <i class="fa fa-navicon"></i>
                    </a>
                </div>
                <div class="all-tittles">DETALLE</div>
                
            </article>
            <article class="tile">
                <div class="tile-icon full-reset">
                    <a class="tile-icon " href="{% url 'listadoPlatillo' %}">
                        <i class="fa fa-cutlery"></i>
                    </a>
                </div>
                <div class=" all-tittles">PLATILLO</div>
                
            </article>
            <article class="tile">
                <div class="tile-icon full-reset">
                    <a class="tile-icon " href="{% url 'listadoTipo' %}">
                        <i class="fa fa-file"></i>
                    </a>
                </div>
                <div class=" all-tittles">TIPO</div>
                
            </article>
            <article class="tile">
                <div class="tile-icon full-reset">
                    <a class="tile-icon " href="{% url 'listadoReceta' %}">
                        <i class="fa fa-book"></i>
                    </a>
                </div>
                <div class=" all-tittles">RECETA</div>
                
            </article>
            <article class="tile">
                <div class="tile-icon full-reset">
                    <a class="tile-icon " href="{% url 'listadoIngrediente' %}">
                        <i class="fa fa-shopping-basket"></i>
                    </a>
                </div>
                <div class="all-tittles">INGREDIENTES</div>
               
            </article>
        </section>
        
    </div>

{% endblock %}