{# heredando header y footer #}
{% extends "./plantillas.html" %}
{% block contenido %}
{% load static %}
    <h1 class="fs-2 text-center" >Listado de PLATILLO</h1>
    <br>   
      <div class="row">
        <div class="col-md-8 container" >
          <table class="table table-striped table-hover " id="tbl_platillos">
              <thead>
                  <tr>
                      <th>ID</th>   
                      <th>TIPO</th>                   
                      <th>NOMBRE</th>
                      <th>DESCRIPCION</th>
                      <th>PRECIO</th>
                      <th>FOTOGRAFIA</th>
                      <th>ACCIONES</th>
                  </tr>
              </thead>
              <tbody>
                  {% for platillo in platillos %}
                  <tr>
                      <td> {{platillo.idPl_je}} </td>
                      <td> {{platillo.tipo.tipo_je}} </td>
                      <td>{{platillo.nombre_je}}</td>
                      <td> {{platillo.descripcion_je}} </td>
                      <td>{{platillo.precio_je}}</td>
                      
                      <td>
                        {% if platillo.imagen_je %}
                        <a href="{{platillo.imagen_je.url}}" target="_blank">
                          <img src="{{platillo.imagen_je.url}}" alt="" height="50px">
                        </a>
  
                        {% else %}
                         <b>N/A</b>
                        {% endif %}
                      </td>
                      <td>
                          <a href="/editarPlatillo/{{platillo.idPl_je}}" class="btn btn-outline-success " >Editar</a>
                          <a href="javascript:void(0)" class="btn btn-outline-warning" onclick="eliminarPlatillo('/eliminarPlatillo/{{platillo.idPl_je}}')">
  
                            Eliminar</a>
                        </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
      <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end container">
      <button class="btn btn-outline-success me-md-5" onclick="mostrarFormulario()">Agregar platillo </button>
      <button class="btn btn-outline-danger" onclick="ocultarFormulario()">Ocultar</button>
    </div>   
    <div class="row" >
      <div class="col-md-4 container" id="formulario" style="display: none;">
        <form class="" action="/guardarPlatillo/" method="post" enctype="multipart/form-data" id="frm_nuevo_platillo" >
          {% csrf_token %}
          <b>TIPO</b>
          <select class="form-control" name="idT_je" id="idT_je" required>
            <option value="">Seleccione tipo</option>
            {% for tipo in tipos %}
            <option value="{{tipo.idT_je}}">
              {{tipo.tipo_je}}
            </option>
            {% endfor %}
          </select>
          <br>
          <b>NOMBRE</b>
          <input type="text" name="nombre_je" value="" id="nombre_je" placeholder="Ingrese el nombre del platillo" class="form-control" required>
          <br>
          <b>DESCRIPCION</b>
          <input type="text" name="descripcion_je" value="" id="descripcion_je" placeholder="ingrese descripcion" class="form-control" required>
          <br>
          <b>PRECIO</b>
          <input type="text" name="precio_je" value="" id="precio_je" placeholder="Ingrese precio" class="form-control" required>
          <br>
          <b>FOTOGRAFIA:</b>
          <input type="file" name="imagen_je" id="imagen_je" accept="image/*" value="" class="form-control" required>
          <br>
          
          <center>
            <button type="submit" name="button" class="btn btn-outline-primary ">Guardar</button>
            
            <a href="/" class="btn btn-outline-danger"> Cnacelar </a>
          </center>
          <br><br><br>
        </form>
      </div>
    </div>
    
{% endblock %}
