{# heredando header y footer #}
{% extends "./plantillas.html" %}
{% block contenido %}
{% load static %}
    <h1 class="fs-2 text-center" >Listado de pedidos</h1>
    <br>   
      <div class="row">
        <div class="col-md-8 container" >
          <table class="table table-striped table-hover " id="tbl_pedidos">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>CEDULA</th>
                      <th>APELLIDO</th>
                      <th>NOMBRE</th>
                      <th>TELEFONO</th>
                      <th>fecha</th>
                      <th>ACCIONES</th>
                  </tr>
              </thead>
              <tbody>
                  {% for pedido in pedidos %}
                  <tr>
                      <td> {{pedido.idPe_je}} </td>
                      <td>{{pedido.cliente.cedula_je}}</td>
                      <td> {{pedido.cliente.apellido_je}} </td>
                      <td>{{pedido.cliente.nombre_je}}</td>
                      <td>{{pedido.cliente.telefono_je}}</td>
                      <td> {{pedido.fecha_je}} </td>
                      <td>
                          <a href="/editarPedido/{{pedido.idPe_je}}" class="btn btn-outline-success " >Editar</a>
                          <a href="javascript:void(0)" class="btn btn-outline-warning" onclick="eliminarPedido('/eliminarPedido/{{pedido.idPe_je}}')">
  
                            Eliminar</a>
                        </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
      <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end container">
      <button class="btn btn-outline-success me-md-5" onclick="mostrarFormulario()">Agregar pedido </button>
      <button class="btn btn-outline-danger" onclick="ocultarFormulario()">Ocultar</button>
    </div>   
    <div class="row" >
      <div class="col-md-4 container" id="formulario" style="display: none;">
        <form class="" action="/guardarPedido/" method="post" enctype="multipart/form-data" id="frm_nuevo_pedido" >
          {% csrf_token %}
          <b>Cliente</b>
          <select class="form-control" name="idCl_je" id="idCl_je" required>
            <option value="">Seleccione el cliente</option>
            {% for cliente in clientes %}
            <option value="{{cliente.idCl_je}}">
              {{cliente.nombre_je}}
            </option>
            {% endfor %}
          </select>
          <br>
          <b>fecha</b>
          <input type="date" name="fecha_je" value="" id="fecha_je" placeholder="Ingrese fecha" class="form-control" required>
          <br>
           <center>
            <button type="submit" name="button" class="btn btn-outline-primary ">Guardar</button>
            
            <a href="/" class="btn btn-outline-danger"> Cancelar </a>
          </center>
          <br><br><br>
        </form>
      </div>
    </div>
    
{% endblock %}
