{# heredando header y footer #}
{% extends "./plantillas.html" %}
{% block contenido %}
{% load static %}
    <h1 class="fs-2 text-center" >Listado de Clientes</h1>
    <br>   
      <div class="row">
        <div class="col-md-8 container" >
          <table class="table table-striped table-hover " id="tbl_clientes">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>CEDULA</th>
                      <th>APELLIDO</th>
                      <th>NOMBRE</th>
                      <th>CORREO ELECTRONICO</th>
                      <th>TELEFONO</th>
                      <th>PROVINCIA</th>
                      <th>ACCIONES</th>
                  </tr>
              </thead>
              <tbody>
                  {% for cliente in clientes %}
                  <tr>
                      <td> {{cliente.idCl_je}} </td>
                      <td>{{cliente.cedula_je}}</td>
                      <td> {{cliente.apellido_je}} </td>
                      <td>{{cliente.nombre_je}}</td>
                      <td> {{cliente.correo_je}} </td>
                      <td> {{cliente.telefono_je}} </td>
                      <td>{{cliente.provincia.nombre_je}}</td>
                      <td>
                          <a href="/editarCliente/{{cliente.idCl_je}}" class="btn btn-outline-success " >Editar</a>
                          <a href="javascript:void(0)" class="btn btn-outline-warning" onclick="eliminarCliente('/eliminarCliente/{{cliente.idCl_je}}')">
  
                            Eliminar</a>
                        </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
      <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end container">
      <button class="btn btn-outline-success me-md-5" onclick="mostrarFormulario()">Agregar Cliente </button>
      <button class="btn btn-outline-danger" onclick="ocultarFormulario()">Ocultar</button>
    </div>   
    <div class="row" >
      <div class="col-md-4 container" id="formulario" style="display: none;">
        <form class="" action="/guardarCliente/" method="post" enctype="multipart/form-data" id="frm_nuevo_cliente" >
          {% csrf_token %}
          <b>PROVINCIA</b>
          <select class="form-control" name="idP_je" id="idP_je" required>
            <option value="">Seleccione la provincia del cliente</option>
            {% for provincia in provincias %}
            <option value="{{provincia.idP_je}}">
              {{provincia.nombre_je}}
            </option>
            {% endfor %}
          </select>
          <br>
          <b>CEDULA</b>
          <input type="text" name="cedula_je" value="" id="cedula_je" placeholder="Ingrese cedula del cliente" class="form-control" required>
          <br>
          <b>APELLIDO</b>
          <input type="text" name="apellido_je" value="" id="apellido_je" placeholder="ingrese el apellido del cliente" class="form-control" required>
          <br>
          <b>NOMBRE</b>
          <input type="text" name="nombre_je" value="" id="nombre_je" placeholder="Ingrese el nombre del cliente" class="form-control" required>
          <br>
          <b>CORREO</b>
          <input type="email" name="correo_je" value="" id="correo_je" placeholder="ingrese correo electronico del cliente" class="form-control" required>
          <br>
          <b>TELEFONO</b>
          <input type="text" name="telefono_je" value="" id="telefono_je" placeholder="Ingrese numero de telefono del cliente" class="form-control" required>
          <br>
          
          <center>
            <button type="submit" name="button" class="btn btn-outline-primary ">Guardar</button>
            
            <a href="/" class="btn btn-outline-danger"> Cnacelar </a>
          </center>
          <br><br><br>
        </form>
      </div>
    </div>
    
{% endblock %}
