{# heredando header y footer #}
{% extends "./plantillas.html" %}
{% block contenido %}
{% load static %}
    <h1 class="fs-2 text-center" >Listado de Provincias</h1>
    <br>   
      <div class="row">
        <div class="col-md-8 container" >
          <table class="table table-striped table-hover " id="tbl_provincias">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>PROVINCIA</th>
                      <th>CAPITAL</th>
                      <th>FOTOGRAFIA</th>
                      <th>ACCIONES</th>
                  </tr>
              </thead>
              <tbody>
                  {% for provincia in provincias %}
                  <tr>
                      <td> {{provincia.idP_je}} </td>
                      <td>{{provincia.nombre_je}}</td>
                      <td> {{provincia.capital_je}} </td>
                      <td>
                        {% if provincia.imagen_je %}
                        <a href="{{provincia.imagen_je.url}}" target="_blank">
                          <img src="{{provincia.imagen_je.url}}" alt="" height="50px">
                        </a>
  
                        {% else %}
                         <b>N/A</b>
                        {% endif %}
                      </td>
                      <td>
                          <a href="/editarProvincia/{{provincia.idP_je}}" class="btn btn-outline-success " >Editar</a>
                          <a href="javascript:void(0)" class="btn btn-outline-warning" onclick="eliminarProvincia('/eliminarProvincia/{{provincia.idP_je}}')">
  
                            Eliminar</a>
                        </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
      <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end container">
      <button class="btn btn-outline-success me-md-5" onclick="mostrarFormulario()">Agregar Provincia </button>
      <button class="btn btn-outline-danger" onclick="ocultarFormulario()">Ocultar</button>
    </div>   
    <div class="row" >
      <div class="col-md-4 container" id="formulario" style="display: none;">
        <form class="" action="/guardarProvincia/" method="post" enctype="multipart/form-data" id="frm_nuevo_provincia" >
          {% csrf_token %}
          <br>
          <b>PROVINCIA</b>
          <input type="text" name="nombre_je" value="" id="nombre_je" placeholder="Ingrese el nombre de la provincia" class="form-control" required>
          <br>
          <b>CAPITAL</b>
          <input type="text" name="capital_je" value="" id="capital_je" placeholder="ingrese la Capital" class="form-control" required>
          <br>
          <b>FOTOGRAFIA:</b>
          <input type="file" name="imagen_je" id="imagen_je" accept="image/*" value="" class="form-control" required>
          <br>
          <center>
            <button type="submit" name="button" class="btn btn-outline-primary ">Guardar</button>
            
            <a href="/" class="btn btn-outline-danger"> Cnacelar </a>
          </center>
          <br><br><br>
        </form>
      </div>
    </div>
    
{% endblock %}
