{# heredando header y footer #}
{% extends "./plantillas.html" %}
{% block contenido %}
{% load static %}
    <h1 class="fs-2 text-center" >Listado de Detalles</h1>
    <br>   
      <div class="row">
        <div class="col-md-8 container" >
          <table class="table table-striped table-hover " id="tbl_detalles">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>PEDIDO</th>
                      <th>CANTIDAD</th>
                      <th>PLATILLO</th>
                      <th>DESCRIPCION</th>
                      <th>PRECIO UNITARIO</th>
                      <th>TOTAL</th>
                      <th>ACCIONES</th>
                  </tr>
              </thead>
              <tbody>
                  {% for detalle in detalles %}
                  <tr>
                      <td> {{detalle.idD_je}} </td>
                      <td> {{detalle.pedido.idPe_je}} </td>
                      <td>{{detalle.cantidad_je}}</td>
                      <td> {{detalle.platillo.nombre_je}} </td>
                      <td>{{detalle.descripcion_je}}</td>
                      <td> {{detalle.platillo.precio_je}} </td>
                      <td> {{detalle.total_je}} </td>
                      <td>
                          <a href="/editarDetalle/{{detalle.idD_je}}" class="btn btn-outline-success " >Editar</a>
                          <a href="javascript:void(0)" class="btn btn-outline-warning" onclick="eliminarDetalle('/eliminarDetalle/{{detalle.idD_je}}')">
  
                            Eliminar</a>
                        </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
      <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end container">
      <button class="btn btn-outline-success me-md-5" onclick="mostrarFormulario()">Agregar Detalle </button>
      <button class="btn btn-outline-danger" onclick="ocultarFormulario()">Ocultar</button>
    </div>   
    <div class="row" >
      <div class="col-md-4 container" id="formulario" style="display: none;">
        <form class="" action="/guardarDetalle/" method="post" enctype="multipart/form-data" id="frm_nuevo_detalle" >
          {% csrf_token %}
          <b>PEDIDO</b>
          <select class="form-control" name="idPe_je" id="idPe_je" required>
            <option value="">Seleccione pedido</option>
            {% for pedido in pedidos %}
            <option value="{{pedido.idPe_je}}">
              {{pedido.idPe_je}}
            </option>
            {% endfor %}
          </select>
          <br>
          <b>PLATILLO</b>
          <select class="form-control" name="idPl_je" id="idPl_je" required>
            <option value="">Seleccione platillo</option>
            {% for platillo in platillos %}
            <option value="{{platillo.idPl_je}}">
              {{platillo.nombre_je}}
            </option>
            {% endfor %}
          </select>
          <br>
          <b>CANTIDAD</b>
          <input type="text" name="cantidad_je" value="" id="cantidad_je" placeholder="Ingrese cantidad" class="form-control" required>
          <br>
          <b>DESCRIPCION</b>
          <input type="text" name="descripcion_je" value="" id="descripcion_je" placeholder="ingrese descripcion" class="form-control" required>
          <br>
          <b>TOTAL</b>
          <input type="text" name="total_je" value="" id="total_je" placeholder="Ingrese el total" class="form-control" required>
          <br>
                   
          <center>
            <button type="submit" name="button" class="btn btn-outline-primary ">Guardar</button>
            
            <a href="/" class="btn btn-outline-danger"> Cnacelar </a>
          </center>
          <br><br><br>
        </form>
      </div>
    </div>
    
{% endblock %}
