{# heredando header y footer #}
{% extends "./plantillas.html" %}
{% block contenido %}
{% load static %}
    <h1 class="fs-2 text-center" >Listado de INGREDIENTES</h1>
    <br>   
      <div class="row">
        <div class="col-md-8 container" >
          <table class="table table-striped table-hover " id="tbl_ingredientes">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>nombre</th>
                      <th>descripcion</th>
                      <th>fecha caducidad</th>
                      <th>cantidad</th>
                      <th>FOTOGRAFIA</th>
                      <th>ACCIONES</th>
                  </tr>
              </thead>
              <tbody>
                  {% for ingrediente in ingredientes %}
                  <tr>
                      <td> {{ingrediente.idI_je}} </td>
                      <td>{{ingrediente.nombre_je}}</td>
                      <td> {{ingrediente.descripcion_je}} </td>
                      <td>{{ingrediente.fecha_caducidad_je}}</td>
                      <td> {{ingrediente.cantidad_je}} </td>
                      <td>
                        {% if ingrediente.imagen_je %}
                        <a href="{{ingrediente.imagen_je.url}}" target="_blank">
                          <img src="{{ingrediente.imagen_je.url}}" alt="" height="50px">
                        </a>
  
                        {% else %}
                         <b>N/A</b>
                        {% endif %}
                      </td>
                      <td>
                          <a href="/editarIngrediente/{{ingrediente.idI_je}}" class="btn btn-outline-success " >Editar</a>
                          <a href="javascript:void(0)" class="btn btn-outline-warning" onclick="eliminarIngrediente('/eliminarIngrediente/{{ingrediente.idI_je}}')">
  
                            Eliminar</a>
                        </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
      <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end container">
      <button class="btn btn-outline-success me-md-5" onclick="mostrarFormulario()">Agregar ingrediente </button>
      <button class="btn btn-outline-danger" onclick="ocultarFormulario()">Ocultar</button>
    </div>   
    <div class="row" >
      <div class="col-md-4 container" id="formulario" style="display: none;">
        <form class="" action="/guardarIngrediente/" method="post" enctype="multipart/form-data" id="frm_nuevo_ingrediente" >
          {% csrf_token %}
          <br>
          <b>nombre</b>
          <input type="text" name="nombre_je" value="" id="nombre_je" placeholder="Ingrese el nombre de la provincia" class="form-control" required>
          <br>
          <b>descripcion</b>
          <input type="text" name="descripcion_je" value="" id="descripcion_je" placeholder="ingrese la Capital" class="form-control" required>
          <br>
          <b>cantidad</b>
          <input type="text" name="cantidad_je" value="" id="cantidad_je" placeholder="Ingrese cantidad " class="form-control" required>
          <br>
          <b>fecha  caducidad</b>
          <input type="date" name="fecha_caducidad_je" value="" id="fecha_caducidad_je" placeholder="ingrese la fecha" class="form-control" required>
          <br>
          <b>FOTOGRAFIA:</b>
          <input type="file" name="imagen_je" id="imagen_je" accept="image/*" value="" class="form-control" required>
          <br>
          <center>
            <button type="submit" name="button" class="btn btn-outline-primary ">Guardar</button>
            
            <a href="/" class="btn btn-outline-danger"> Cnacelar </a>
          </center>
          <br><br><br>
        </form>
      </div>
    </div>
    
{% endblock %}
