{# heredando header y footer #}
{% extends "./plantillas.html" %}
{% block contenido %}
{% load static %}
    <h1 class="fs-2 text-center" >Listado de RECETA</h1>
    <br>   
      <div class="row">
        <div class="col-md-8 container" >
          <table class="table table-striped table-hover " id="tbl_recetas">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>PLATILLO</th>
                      <th>INGREDIENTES</th>
                      <th>PREPARACION</th>
                      <th>DIFICULTAD</th>
                      <th>PORCIONES</th>
                      <th>ACCIONES</th>
                  </tr>
              </thead>
              <tbody>
                  {% for receta in recetas %}
                  <tr>
                      <td> {{receta.idR_je}} </td>
                      <td> {{receta.platillo.nombre_je}} </td>
                      <td> {{receta.ingrediente.nombre_je}} </td>
                      <td>{{receta.preparacion_je}}</td>
                      <td> {{receta.dificultad_je}} </td>
                      <td>{{receta.porciones_je}}</td>
                      
                      <td>
                          <a href="/editarReceta/{{receta.idR_je}}" class="btn btn-outline-success " >Editar</a>
                          <a href="javascript:void(0)" class="btn btn-outline-warning" onclick="eliminarReceta('/eliminarReceta/{{receta.idPl_je}}')">
  
                            Eliminar</a>
                        </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
      <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end container">
      <button class="btn btn-outline-success me-md-5" onclick="mostrarFormulario()">Agregar receta </button>
      <button class="btn btn-outline-danger" onclick="ocultarFormulario()">Ocultar</button>
    </div>   
    <div class="row" >
      <div class="col-md-4 container" id="formulario" style="display: none;">
        <form class="" action="/guardarReceta/" method="post" enctype="multipart/form-data" id="frm_nuevo_provincia" >
          {% csrf_token %}          
          <b>PLATILLO</b>
          <select class="form-control" name="idPl_je" id="idPl_je" required>
            <option value="">Seleccione platillo</option>
            {% for platillo in platillos %}
            <option value="{{platillo.idPl_je}}">
              {{platillo.nombre_je}}
            </option>
            {% endfor %}
          </select>
          <br>
          <b>INGREDIENTE</b>
          <select class="form-control" name="idI_je" id="idI_je" required>
            <option value="">Seleccione ingrediente</option>
            {% for ingrediente in ingredientes %}
            <option value="{{ingrediente.idI_je}}">
              {{ingrediente.nombre_je}}
            </option>
            {% endfor %}
          </select>
          <br>
          <b>PREPARACION</b>
          <input type="text" name="preparacion_je" value="" id="preparacion_je" placeholder="Ingrese instrucciones" class="form-control" required>
          <br>
          <b>DIFICULTAD</b>
          <input type="text" name="dificultad_je" value="" id="dificultad_je" placeholder="ingrese dificultad" class="form-control" required>
          <br>
          <b>PORCIONES:</b>
          <input type="number" name="porciones_je" id="porciones_je"  value="" placeholder="ingrese porciones" class="form-control" required>
          <br>
          <center>
            <button type="submit" name="button" class="btn btn-outline-primary ">Guardar</button>
            
            <a href="/" class="btn btn-outline-danger"> Cancelar </a>
          </center>
          <br><br><br>
        </form>
      </div>
    </div>
    
{% endblock %}
