{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!-- importacion de jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESTAURANTE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- importacion de fontawesomw -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- importacion de jquery-validate -->
    <script type="text/javascript" src="{% static 'librerias/jquery-validate/jquery.validate.js' %}"> </script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <!-- importacion de iziToast -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- importacion de datatable -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #33414E;">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
              <a class="nav-link" href="{% url 'listadoProvincia' %}">Provincias</a>
              <a class="nav-link" href="{% url 'listadoCliente' %}">Cliente</a>
              <a class="nav-link" href="{% url 'listadoPedido' %}">Pedido</a>
              <a class="nav-link" href="{% url 'listadoDetalle' %}">Detalle</a>
              <a class="nav-link" href="{% url 'listadoPlatillo' %}">Platillo</a>
              <a class="nav-link" href="{% url 'listadoTipo' %}">Tipos de platillo</a>
              <a class="nav-link" href="{% url 'listadoReceta' %}">Receta</a>
              <a class="nav-link" href="{% url 'listadoIngrediente' %}">Ingredientes</a>
            </div>
          </div>
        </div>
      </nav>
      <br>
    {% block contenido %}
    {% endblock %}
    <footer class="footer full-reset">
        <div class="container-fluid">
            <div class="row all-tittles">
                <div class="col-md-4 text-center" >
                    <h5>
                        <b>Contactos: </b>
                    </h5>
                    <b>Telefono: </b> 095908427 <br>
                    <b>Direccion: </b> Quito <br>
                </div>
                <div class="col-md-4 text-center">
                    <h5>
                        <b>Servicios</b>
                    </h5>
                    Servicio 1<br>
                    Servicio 2
                </div>
                <div class="col-md-4 text-center" >
                    <h5>
                        <b>Horario de Atencion</b>
                    </h5>
                    <b>lunes a viernes: </b> 9:00 a 18:00 <br>
                    Domingo sin Atencion
        
                </div>
            </div>
        </div>
         
        <div class="footer-copyright full-reset all-tittles">© 2024 Joselin Espin</div>
    </footer>

    {% if messages %}
      {% for mensaje in messages %}
      <script type="text/javascript" >
        iziToast.success({
          title: 'confirmacion',
          message: '{{mensaje}}',
          position:'topRight'
      });
      </script>
      {% endfor %}
    {% endif %}


</body>
</html>